services:
  postgres:
    image: timescale/timescaledb-ha:pg16
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
