@import "./reset.css";
@import "./app_layout.css";
@import "./flash.css";

.chart-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media (max-width: 1000px) {
		grid-template-columns: 1fr;
	}
}

.chart-container {
	overflow: hidden;
}
